<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.hanlyjiang.lib.common.di">

    <application>
        <service
            android:name=".test.TestDiService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".test.TestDiMainActivity"
            android:label="TestDiMainActivity"
            android:exported="false"/>

        <activity
            android:name=".test.TestDiMvpActivity"
            android:exported="false"
            android:label="TestDiMvpActivity"/>
    </application>

</manifest>