<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.hanlyjiang.lib.common.di">

    <application>
        <service
            android:name=".instance.TestDiService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".instance.TestDiMainActivity"
            android:exported="true"/>
    </application>

</manifest>